// Specific CSS for your home-page

body {
  //background-image:  url('<%= cl_image_path plane_y6h40q %>');//url("plane.jpg");
  background-size: cover;
}

#form {
  margin-top: 250px;
}

input {
  margin-right: 20px;
}
