.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-landing {
  color: transparent;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: white;
}

.navbar-lewagon-white {
  background: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-sticky {
  position: sticky;
  top: 0;
}
