.plane-deck{
  flex-grow: 1;
  display: grid;
  grid-gap: 16px;
}

.plane {
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-decoration: none;

  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;

  &:hover {
    box-shadow: 0 0 60px rgba(0,0,0,0.2);
    text-decoration: none;
    background-color: #abb1ba;
  }

  img {
    border-radius: 4px 4px 0px 0px;
    height: 200px;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .plane-deck {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .plane-deck {
    grid-template-columns: 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .plane-deck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
