<div class="container d-flex flex-column justify-content-center align-items-center col-9" style="margin-top: 150px; color: white; list-style: none;">
  <h2>My reviews</h2>
  <li><%= link_to "My bookings", plane_bookings_path, class: 'btn btn-primary' %></li>
</div>
